*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif
    
}

body {

    overflow-x: hidden;
    
    }
    
     


.container {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
}

.container1{
    max-width: 1200px;
    margin: 30px auto;
    background-color: bisque;
    padding: 30px;

}

.slider{
    width: 756px;
    height: 265px;
   
    margin: 30px auto;
    display: flex;
    overflow: hidden;

}

.slider-line{
    width: 1024px;
    height: 256px;
    margin: 30px auto; 
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
    
}

.img{
    margin: 5px;
    
}


.container h1{
    padding-bottom: 15px;
}


.slider-prev {
    margin-left: 300px;

}

.slider-next{

}

.btn1{
    


}

.spcolor {
    

}
.btn {
    width: 250px;
    font-size: 15px;
    padding: 15px;
    background-color: rgb(66, 108, 133);
    color: aliceblue;
    border-radius: 10px;
    border: 2px solid rgb(66, 108, 133);
    
    cursor: pointer;
}

.btn:hover{
    background-color: transparent;
    color: rgb(142, 184, 190);
    transition: 0.4s ease-in;
    border: 2px solid;
    color: rgb(57, 20, 20);
}

.btn:active{
    padding-right: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 2px;
    transition: 0.25s;
}


.back-text {
    padding-top: 25px;

    display: flex;
    flex-direction: column;

    
}
.input {
    height: 23px;
    width: 250px;
    margin-bottom: 22px;
    outline: none;
    border: none;
    border: solid 2px #7d6060;

    border-radius: 3px;

}

.input-text {
	font-size: 18px;
	padding: 10px 15px;
	margin-bottom: 5px;
}

/* Список дел */

.simple-todo {
	margin-top: 40px;
}



.text-bloc {

}

.dom-example {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.counter {
    margin-left: 52px;
}

.button{
    
    
}

#start{
    margin: 5px;
}

#stop{
    margin: 5px;
}
#reset{
    margin: 5px;
}

