*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif

}



.container {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;

}

.container h1{
    padding-bottom: 15px;
}
.spcolor {
    

}
.btn {
    width: 250px;
    font-size: 15px;
    padding: 15px;
    background-color: rgb(66, 108, 133);
    color: aliceblue;
    border-radius: 10px;
    border: 2px solid rgb(66, 108, 133);
    
    cursor: pointer;
}

.btn:hover{
    background-color: transparent;
    color: rgb(142, 184, 190);
    transition: 0.4s ease-in;
    border: 2px solid;
    color: rgb(57, 20, 20);
}

.btn:active{
    padding-right: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 2px;
    transition: 0.25s;
}


.back-text {
    padding-top: 25px;

    display: flex;
    flex-direction: column;

    
}
.input {
    height: 23px;
    width: 250px;
    margin-bottom: 22px;
    outline: none;
    border: none;
    border: solid 2px #7d6060;

    border-radius: 3px;

}

.input-text {
	font-size: 18px;
	padding: 10px 15px;
	margin-bottom: 5px;
}

/* Список дел */

.simple-todo {
	margin-top: 40px;
}



.text-bloc {

}

